body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn{
  background:transparent;
  border: none;
  margin: 20px;
  padding: 1em 2em;
  color: aliceblue;
  background: black;
  cursor: pointer;

}
.btn-secondary{
  background: green;
}
/* proper naming - class="btn btn-primary" */