*{
  margin: 0;
  padding: 0;
}

body{
  height:100vh;
  background: rgb(142, 144, 235);
}

.container{
  border: 2px solid white;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  /* flex box stuff - work on container */
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
      /* justify content - aligns content on the main axis */
  /* justify-content:center; */
  /* justify-content:space-around; */
  /* justify-content:space-between; */
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap; */
      /* align items - align items on the cross axis */
  /* align-items: flex-end;     */
  /* align-items: center;     */
      /* align content - distribution of space btn and around along 
      flexbox cross axis */
  /* flex-wrap: wrap;   */
  /* align-content: center;   */
  /* align-content: space-around;   */
  /* align-content: space-between;   */
}
.child{
  width: 50px;
  height: 50px;
  background: blue;
  text-align: center;
  margin: 5px;
}
/* Order property specifies the order of flexible items relative to the 
other items inside the container */

/* align-self - alignment of the selected item inside the flex container */
/* flex grow - specifies how item will grow relative to the rest */
/* flex basis - property specifies the initial length of the flexible item */
.special{
  order: 1;
  /* align-self: flex-end; */
  /* flex-grow:2 ; */
  flex-basis: 20px;
}
.special-two{
  order:2;
  /* flex-grow: 4; */
  flex-basis: 200px;

}